---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const linksArr = [
	{
		link: "https://alz.netlify.app/",
		text: "Portfolio Site",
	},
	{
		link: "https://github.com/glopzel",
		text:"Visit my Github",
	},
	{
		link: "https://codepen.io/glopzel",
		text: "Check Out My Codepen Pens",
	},
	{
		link: "https://www.instagram.com/glopzel/",
		text: "Follow My Instagram",
	},
	{
		link: "https://twitter.com/glopzel",
		text: "Twitter",
	}

]
---

<Layout title="ALZ Links">
	<main class="flex flex-col items-center justify-center text-gray-900">
		<div class="flex justify-center mt-12 sm:w-1/3">
			<img id="alien" src="https://cdn.glitch.global/8ea56d18-32a8-4f19-802d-29d8cb17a5b7/doodle-57.svg?v=1658029266802"  alt="green alien in a grey spaceship">
		</div>
		
		<h1 class="mt-2 font-bold">Angela Lopez</h1>
		<h2 class="mt-2 px-4 font-bold text-center">Software Developer | Open Source Contributor</h2>

		<div class="mt-6 w-screen sm:w-3/5">
			<ul role="list" class="link-card-grid px-4 sm:px-10">

				{linksArr.map(item => {
					return <Card href={item.link} title={item.text}/>
				})}
			</ul>
		</div>
		
	</main>
</Layout>

<style>

	img {
		/* width: 6.5em; */
		width: 104px;
	}

	h1 {
		font-size: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
	}

</style>
